{{- $name := promptStringOnce . "name" "What is your full name" -}}
{{- $email := promptStringOnce . "email" "What is your git email" -}}
{{- $computerName := promptStringOnce . "computerName" "What should this computer be named" -}}
{{- $profile := promptStringOnce . "profile" "Machine profile (primary / secondary / minimal)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    computerName = {{ $computerName | quote }}
    profile = {{ $profile | quote }}
